<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<style>
    .add-form-svk{
        max-width:80vw;
        padding-left: 5vw;
    }
</style>


<form class="add-form-svk" action="/admin/product/addproduct/GRAPHICS_CARD" method="post">
  
    
    <div class="form-group">
        
            <label class="form-label" for="disabledInput">Product Type </label>
            <input class="form-control" name="TYPE" id="TYPE" type="text" value="GRAPHICS_CARD" placeholder="GRAPHICS_CARD" readonly >
      
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Product Name</label>
      <input  type="text" class="form-control" name="PRODUCT_NAME" id="PRODUCT_NAME"   placeholder="Enter product name">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Brand ID</label>
      <input  type="text" class="form-control" name="BRANDID" id="BRANDID"   placeholder="Enter brand ID">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Price</label>
      <input  type="text" class="form-control" name="PRICE" id="PRICE"   placeholder="Enter price">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Image</label>
      <input  type="text" class="form-control" name="IMAGE" id="IMAGE"   placeholder="Enter image link">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Warranty</label>
      <input  type="text" class="form-control" name="WARRANTY" id="WARRANTY"   placeholder="Enter warranty details">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Stock</label>
      <input  type="text" class="form-control" name="STOCK" id="STOCK"   placeholder="Enter stock quantity">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Details</label>
      <input  type="text" class="form-control" name="DETAILS" id="DETAILS"   placeholder="Enter product details">
    </div>


    
    


<div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">GTYPE</label>
  <input  type="text" class="form-control" name="GTYPE" id="GTYPE"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">GSIZE</label>
  <input  type="text" class="form-control" name="GSIZE" id="GSIZE"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">RESOLUTION</label>
  <input  type="text" class="form-control" name="RESOLUTION" id="RESOLUTION"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">BOOST_CLOCK</label>
  <input  type="text" class="form-control" name="BOOST_CLOCK" id="BOOST_CLOCK"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">GAME_CLOCK</label>
  <input  type="text" class="form-control" name="GAME_CLOCK" id="GAME_CLOCK"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">CLOCK_INFO</label>
  <input  type="text" class="form-control" name="CLOCK_INFO" id="CLOCK_INFO"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">MEMORY_CLOCK</label>
  <input  type="text" class="form-control" name="MEMORY_CLOCK" id="MEMORY_CLOCK"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">MEMORY_INTERFACE</label>
  <input  type="text" class="form-control" name="MEMORY_INTERFACE" id="MEMORY_INTERFACE"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">STREAM_PROCESSORS</label>
  <input  type="text" class="form-control" name="STREAM_PROCESSORS" id="STREAM_PROCESSORS"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">DISPALY_PORT</label>
  <input  type="text" class="form-control" name="DISPALY_PORT" id="DISPALY_PORT"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">HDMI</label>
  <input  type="text" class="form-control" name="HDMI" id="HDMI"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">CONNECTORS</label>
  <input  type="text" class="form-control" name="CONNECTORS" id="CONNECTORS"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">RECOMMENDED_PSU</label>
  <input  type="text" class="form-control" name="RECOMMENDED_PSU" id="RECOMMENDED_PSU"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">CONSUMPTION</label>
  <input  type="text" class="form-control" name="CONSUMPTION" id="CONSUMPTION"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">MULTI_DISPLAY</label>
  <input  type="text" class="form-control" name="MULTI_DISPLAY" id="MULTI_DISPLAY"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">DITERCTX</label>
  <input  type="text" class="form-control" name="DITERCTX" id="DITERCTX"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION1</label>
  <input  type="text" class="form-control" name="DIMENSION1" id="DIMENSION1"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION2</label>
  <input  type="text" class="form-control" name="DIMENSION2" id="DIMENSION2"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">DIMENSION3</label>
  <input  type="text" class="form-control" name="DIMENSION3" id="DIMENSION3"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">OTHERS1</label>
  <input  type="text" class="form-control" name="OTHERS1" id="OTHERS1"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">OTHERS2</label>
  <input  type="text" class="form-control" name="OTHERS2" id="OTHERS2"   placeholder="Enter product details">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">OTHERS3</label>
  <input  type="text" class="form-control" name="OTHERS3" id="OTHERS3"   placeholder="Enter product details">
  </div>
  
  
  


    <br>
    <input type="submit" class="btn btn-primary" value="ADD PRODUCT">
</form>