<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<style>
    .add-form-svk{
        max-width:80vw;
        padding-left: 5vw;
    }
</style>

<%- include('newheader.ejs') %>
<form class="add-form-svk" action="/admin/product/addproduct/POWER_SUPPLY" method="post">
  
    
    <div class="form-group">
        
            <label class="form-label" for="disabledInput">Product Type </label>
            <input class="form-control" name="TYPE" id="TYPE" type="text" value="POWER_SUPPLY" placeholder="POWER_SUPPLY" readonly >
      
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Product Name</label>
      <input  type="text" class="form-control" name="PRODUCT_NAME" id="PRODUCT_NAME"   placeholder="Enter product name">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Brand ID</label>
      <input  type="text" class="form-control" name="BRANDID" id="BRANDID"   placeholder="Enter brand ID">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Price</label>
      <input  type="text" class="form-control" name="PRICE" id="PRICE"   placeholder="Enter price">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Image</label>
      <input  type="text" class="form-control" name="IMAGE" id="IMAGE"   placeholder="Enter image link">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Warranty</label>
      <input  type="text" class="form-control" name="WARRANTY" id="WARRANTY"   placeholder="Enter warranty details">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Stock</label>
      <input  type="text" class="form-control" name="STOCK" id="STOCK"   placeholder="Enter stock quantity">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Details</label>
      <input  type="text" class="form-control" name="DETAILS" id="DETAILS"   placeholder="Enter product details">
    </div>


    



    <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">EFFICIENCY</label>
        <input  type="text" class="form-control" name="EFFICIENCY" id="EFFICIENCY"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">CERTIFICATION</label>
        <input  type="text" class="form-control" name="CERTIFICATION" id="CERTIFICATION"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">FAN_SIZE</label>
        <input  type="text" class="form-control" name="FAN_SIZE" id="FAN_SIZE"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">MODULAR_TYPE</label>
        <input  type="text" class="form-control" name="MODULAR_TYPE" id="MODULAR_TYPE"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">TOTAL_POWER</label>
        <input  type="text" class="form-control" name="TOTAL_POWER" id="TOTAL_POWER"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">PEAK_POWER</label>
        <input  type="text" class="form-control" name="PEAK_POWER" id="PEAK_POWER"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">AC_INPUT</label>
        <input  type="text" class="form-control" name="AC_INPUT" id="AC_INPUT"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">DC_OUTPUT</label>
        <input  type="text" class="form-control" name="DC_OUTPUT" id="DC_OUTPUT"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">MAIN_POWER</label>
        <input  type="text" class="form-control" name="MAIN_POWER" id="MAIN_POWER"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">CPU</label>
        <input  type="text" class="form-control" name="CPU" id="CPU"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">PCI_E</label>
        <input  type="text" class="form-control" name="PCI_E" id="PCI_E"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">SATA</label>
        <input  type="text" class="form-control" name="SATA" id="SATA"   placeholder="Enter product details">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">MOLEX</label>
        <input  type="text" class="form-control" name="MOLEX" id="MOLEX"   placeholder="Enter product details">
        </div>
        
        
        
        


    <br>
    <input type="submit" class="btn btn-primary" value="ADD PRODUCT">
</form>