<style>
    .card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 80vw;
height: 20vh;
margin: 2vh;
text-align: left;
font-family: arial;
font-size: 1.5rem;
overflow: hidden;
}

.img {
float: left;
max-width: 20vw;
max-height: 20vh;
}

.txt {
float: left;
max-width: 50vw;
max-height: 20vh;
padding-left: 2vw;
padding-top: 7vh;
}
</style>

<body>
    <a href="/">
    <div class="card">
        <img class="img" src="https://thumbs.dreamstime.com/b/flat-isolated-vector-eps-illustration-icon-minimal-design-long-shadow-add-remove-shop-product-cart-118523592.jpg">
        <div class="txt">ADD/REMOVE PRODUCT</div>
    </div></a>

    <a href="/admin/userlist">
    <div class="card">
        <img class="img" src="https://thumbs.dreamstime.com/b/flat-isolated-vector-eps-illustration-icon-minimal-design-long-shadow-add-remove-shop-product-cart-118523592.jpg">
        <div class="txt">USER LIST</div>
    </div></a>

    <a href="/admin/advertisement">
    <div class="card">
        <img class="img" src="https://thumbs.dreamstime.com/b/flat-isolated-vector-eps-illustration-icon-minimal-design-long-shadow-add-remove-shop-product-cart-118523592.jpg">
        <div class="txt">ADVERTISEMENTS</div>
    </div></a>

    <a href="/admin/brand">
    <div class="card">
        <img class="img" src="https://thumbs.dreamstime.com/b/flat-isolated-vector-eps-illustration-icon-minimal-design-long-shadow-add-remove-shop-product-cart-118523592.jpg">
        <div class="txt">BRANDS</div>
    </div></a>

    <a href="">
    <div class="card">
        <img class="img" src="https://thumbs.dreamstime.com/b/flat-isolated-vector-eps-illustration-icon-minimal-design-long-shadow-add-remove-shop-product-cart-118523592.jpg">
        <div class="txt">BREAKING NEWS</div>
    </div></a>
</body>