<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<style>
    .brand-info-svk{
        max-width:80vw;
        padding-left: 15vw; 
    }
</style>
<%- include('newheader.ejs') %>
<div class="brand-info-svk">
<img src="https://www.startech.com.bd/image/cache/catalog/home/banner/nagad-cashback-august-home-banner-1-982x500.jpg" class="rounded mx-auto d-block" alt="Responsive image">

<h2>AD DETAILS</h2>
<h3>TERMS & CONDITIONS</h3>
<h5>
<% if(ad.ADVERTISEMENTID==28) { %>
  <small class="text-muted"><br>শর্তাবলীঃ<br><br>

◆ অফারটি শুধুমাত্র অনলাইন অর্ডারের ক্ষেত্রে প্রযোজ্য।
 <br> <br>◆ নগদ পেমেন্টে একজন ক্রেতা একবার এবং সর্বোচ্চ ৩০০ টাকা পর্যন্ত ক্যাশব্যাক উপভোগ করতে পারেবন।
 <br><br>◆ শুধুমাত্র নগদ -এর গেটওয়ে ব্যবহার করে পেমেন্ট করলেই ক্রেতাগন এই ক্যাশব্যাক অফারটি উপভোগ করতে পারবেন। নগদ অ্যাপ ব্যবহার করে পেমেন্টের ক্ষেত্রে অফারটি প্রযোজ্য নয়।
<br><br>◆ অফারটি  ৩০শে সেপ্টেম্বর পর্যন্ত কার্যকর থাকবে।</small>
<% } %>

<% if(ad.ADVERTISEMENTID==30) { %>
  <small class="text-muted"><br>শর্তাবলীঃ<br><br>

◆ অফারটি শুধুমাত্র অনলাইন অর্ডারের ক্ষেত্রে প্রযোজ্য।
 <br> <br>◆ অফারটি উপভোগ করতে অবশ্যই GAMDIAS প্রমো কোড ব্যবহার করে অর্ডার করতে হবে।
ফ্রি হোম ডেলিভারি এবং ফ্রি ইনস্টলেশন সুবিধাটি শুধুমাত্র ঢাকা শহরের জন্য প্রযোজ্য।
 <br><br>◆ শুধুমাত্র নগদ -এর গেটওয়ে ব্যবহার করে পেমেন্ট করলেই ক্রেতাগন এই ক্যাশব্যাক অফারটি উপভোগ করতে পারবেন। নগদ অ্যাপ ব্যবহার করে পেমেন্টের ক্ষেত্রে অফারটি প্রযোজ্য নয়।
<br><br>◆ অফারটি  ৩০শে সেপ্টেম্বর পর্যন্ত কার্যকর থাকবে।</small>
<% } %>

<% if(ad.ADVERTISEMENTID==23) { %>
  <small class="text-muted"><br>শর্তাবলীঃ<br><br>

◆ অফারটি শুধুমাত্র অনলাইন অর্ডারের ক্ষেত্রে প্রযোজ্য।
 <br> <br>◆ নগদ পেমেন্টে একজন ক্রেতা একবার এবং সর্বোচ্চ ৩০০ টাকা পর্যন্ত ক্যাশব্যাক উপভোগ করতে পারেবন।
 <br><br>◆ প্রাপ্ত ভাউচারটি নগদ টাকার সাথে বিনিময় যোগ্য নয়। নয়।
<br><br>◆ অফারটি  ৩০শে সেপ্টেম্বর পর্যন্ত কার্যকর থাকবে।</small>
<% } %>

<% if(ad.ADVERTISEMENTID==25) { %>
  <small class="text-muted"><br>শর্তাবলীঃ<br><br>

◆ অফারটি শুধুমাত্র অনলাইন অর্ডারের ক্ষেত্রে প্রযোজ্য।
 <br> <br>◆ নগদ পেমেন্টে একজন ক্রেতা একবার এবং সর্বোচ্চ ৩০০ টাকা পর্যন্ত ক্যাশব্যাক উপভোগ করতে পারেবন।
 <br><br>◆ শুধুমাত্র নগদ -এর গেটওয়ে ব্যবহার করে পেমেন্ট করলেই ক্রেতাগন এই ক্যাশব্যাক অফারটি উপভোগ করতে পারবেন। নগদ অ্যাপ ব্যবহার করে পেমেন্টের ক্ষেত্রে অফারটি প্রযোজ্য নয়।
<br><br>◆ অফারটি  ৩০শে সেপ্টেম্বর পর্যন্ত কার্যকর থাকবে।</small>
<% } %>

<% if(ad.ADVERTISEMENTID==26) { %>
  <small class="text-muted"><br>শর্তাবলীঃ<br><br>

◆ অফারটি শুধুমাত্র অনলাইন অর্ডারের ক্ষেত্রে প্রযোজ্য।
 <br> <br>◆ নগদ পেমেন্টে একজন ক্রেতা একবার এবং সর্বোচ্চ ৩০০ টাকা পর্যন্ত ক্যাশব্যাক উপভোগ করতে পারেবন।
 <br><br>◆ স্টার টেক গিফট ভাউচারটি ব্যবহার করে অর্ডার করা পণ্য হাতে পেয়ে গিফট ভাউচারটি অবশ্যই ডেলিভারি পার্সনের কাছে হস্তান্তর করতে হবে।নয়।
<br><br>◆ অফারটি  ৩০শে সেপ্টেম্বর পর্যন্ত কার্যকর থাকবে।</small>
<% } %>
</h5>
</div>