<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<style>
    .pc-builder-card{
        width:50vw;
        height: 15vh;
    }
    
    .img {
    float: left;
    width: 7vw;
    height: 7vh;
    }
    
    .txt {
    float: left;
    max-width: 30vw;
    max-height: 20vh;
    padding-left: 3vw;
    padding-top: 1vh;
    font-size: 1rem;
    }
    
    .pc-builder-btn{
        float: right;
    margin-right: -20vw;
     border-radius: 1.5vw;
     cursor: pointer;
     font-size: 1rem;
    }
    
    .ok{
        margin-bottom: 5vh;
    }
    
</style>
 
<html>
<body>
<%- include('../partials/header.ejs') %>


<div class="container">
  <h2>Build your own desktop with TECHWORLD</h2>
    
  <div class="card bg-light text-dark ok">
    <div class="card-body pc-builder-card">
        <img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
        <div class="txt">MOTHERBOARD</div>
        <a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
    </div>
  </div>

  


<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">PROCESSOR</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>
<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">GRAPHICS</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>
<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">CARD</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>
<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">RAM 1</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">RAM 2</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>

<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">SSD</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>
<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">HDD</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>
<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">POWER</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>
<div class="card bg-light text-dark ok">
<div class="card-body pc-builder-card">
<img class="img" src="https://www.techlandbd.com/image/cache/wp/gp/techlandxx/icon/mb.png-40x40.webp">
<div class="txt">SUPPLY</div>
<a href="" ><button type="button" class="btn btn-outline-info pc-builder-btn">CHOOSE</button></a>
</div>
</div>



  
</div>

<%- include('../partials/footer.ejs') %>

</body>
</html>