<style>

    .card-small-svk {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 8vw;
height: 8vw;
margin: 1rem;
text-align: center;
font-family: arial;
font-size: 1rem;
overflow: hidden;
}

.column-small-svk-small-svk {
float: left;
width: 10vw;
font-size: 1rem;
}

/* Remove extra left and right margins, due to padding in column-small-svk-small-svks */
.row-small-svk {margin: 0 14.3vw;}

/* Clear floats after the column-small-svk-small-svks */
.row-small-svk:after {
content: "";
display: table;
clear: both;
}
 
</style>

<div style="height: 5vh"></div>
<div class="row-small-svk">
    <a href="/productlist/laptop">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Laptop</p></div></div></a>
    <a href="/productlist/processor">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>processor</p></div></div></a>
    <a href="/productlist/motherboard">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Motherboard</p></div></div></a>
    <a href="/productlist/GRAPHICS_CARD">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Graphics Card</p></div></div></a>
    <a href="/productlist/ram">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>ram</p></div></div></a>
    <a href="/productlist/ssd">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>SSD</p></div></div></a>
    <a href="/productlist/hdd">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>HDD</p></div></div></a>
</div>
<div class="row-small-svk">
    
    <a href="/productlist/power_supply">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Power Supply</p></div></div></a>
    <a href="/productlist/webcam">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Webcam</p></div></div></a>
    <a href="/productlist/mouse">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Mouse</p></div></div></a>
    <a href="/productlist/keyboard">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Keyboard</p></div></div></a>
    <a href="/productlist/headphone">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Headphone</p></div></div></a>
    <a href="/productlist/speaker">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Speaker</p></div></div></a>
    <a href="/productlist/monitor">
    <div class="column-small-svk-small-svk">
        <div class="card-small-svk">
            <img src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png" alt="IMAGE">
        <p>Monitor</p></div></div></a>
</div>

    

</div>